In [ ]:
from turtle import *
pensize(3)
pencolor('blue')
for i in range(15):
    circle(i*5)

In [2]:
from turtle import *
pensize(50)
pencolor('red')
fillcolor('orange')
begin_fill()
circle(150)
end_fill()

In [2]:
from turtle import *
pensize(5)
colors =['green','blue','red','orange','black']
for i in range(50):
    pencolor(colors[i%6])
    circle(10*i)
    up()
    sety((10*i)*(-1))
    down()

Terminator:

In [1]:
# design olimpics logo
from turtle import *
pensize(5)
r1 = ['blue','black','red']
for i in range(3):
    penup()
    pencolor(r1[i%3])
    goto(i*100,0)
    pendown()
    circle(50)
r2 = ['','yellow','','green']
for i in range(1,4,2):
    penup()
    pencolor(r2[i])
    goto(i*55,-55)
    pendown()
    circle(50)

In [1]:
# design audi logo
from turtle import *
pensize(5)
pencolor('black')
for i in range(4):
    penup()
    goto(i*100,0)
    pendown()
    circle(50)

Terminator:

In [3]:
# design of a car
from turtle import *
bgcolor('yellow')
color('blue')
fillcolor('blue')
penup()
goto(0,0)
begin_fill()
forward(570)
left(90)
forward(80)
left(90)
forward(570)
left(90)
forward(80)
end_fill()

#code for drawing and roof
pensize(6)
penup()
goto(100,50)
pendown()
setheading(45)
forward(100)
setheading(0)
forward(250)
setheading(-45)
forward(100)
setheading(90)
penup()
goto(300,50)
pendown()
forward(75)

# code for two tyres

penup()
goto(200,-10)
pendown()
color('black')
fillcolor('black')
begin_fill()
circle(20)
end_fill()
penup()
goto(400,-10)
pendown()
color('black')
fillcolor('black')
begin_fill()
circle(20)
end_fill()

# Idomatic Python
  - Transformation Code into beautiful,Idomatic Python
  - Replaces traditional index manupilation eith Python code looping Idioms

In [8]:
# looping over a range of number
for i in [0,1,2,3,4,5]:
    print(i ** 2,end='')
    
print()
#pythonic way
for i in range(6):
    print(i ** 2,end='')

01491625
01491625

In [9]:
# looping over the collection(list)
li = [1,2,3,4,5]
for i in range(len(li)):
    print(li[i],end='')
print()
#Python way
for i in li:
    print(i,end='')

12345
12345

In [12]:
# looping from backwards
li = [1,2,3,4,5]
for i in range(len(li)-1,-1,-1):
    print(li[i],end='')
print()
#pythoniic way
for i in reversed(li):
    print(i,end='')

54321
54321

In [14]:
# looping over the collection of index
li == [1,2,3,4,5]
for i in range(len(li)):
    print(i,'-->',li[i])
print()

# pythonic way
for i,a in enumerate(li):
    print(i,'-->',a)

0 --> 1
1 --> 2
2 --> 3
3 --> 4
4 --> 5

0 --> 1
1 --> 2
2 --> 3
3 --> 4
4 --> 5

In [5]:
# looping over two collections
li = [1,2,3,4,5]
a = [1,2,3,4,5,6,7,8]
n = min(len(li),len(a))
for i in range(n):
    print(li[i],'',a[i])

print()
# pythonic way
for i,a in zip(li,a):
    print(i,'',a)

1  1
2  2
3  3
4  4
5  5

1  1
2  2
3  3
4  4
5  5

In [10]:
# looping in sorted order

li = [8,1,25,16,9,2]
for i in sorted(li):
    print(i,end=' ')

print()
for i in sorted(li,reverse=True):
    print(i,end=' ')
print()
for i in reversed(sorted(li)):
    print(i,end=' ')

1 2 8 9 16 25
25 16 9 8 2 1
25 16 9 8 2 1

In [11]:
# Dictionary
d = {'name':'Gitam','EmailID':'gitam@gmail.edu','Address':'vizag'}
for k in d:
    print(k,end=' ')
print()

name EmailID Address

In [12]:
for k in d.keys():
    if k.startswith('A'):
        del d[k]

RuntimeError: dictionary changed size during iteration

In [13]:
print(d)

{'name': 'Gitam', 'EmailID': 'gitam@gmail.edu'}

In [14]:
for k in d.values():
    print(k,end=' ')

Gitam gitam@gmail.edu

### List Comprehensions

In [18]:
li =[]
for i in range(10):
    a = i ** 2
    li.append(a)
    
print(sum(li))
print()
#Python way
print(sum(i ** 2 for i in range(10)))

285

285

In [19]:
li = []
for i in range(10):
    li.append(i ** 2)
li

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [21]:
com_list = [i ** 2 for i in range(10)]
com_list

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [ ]:
for i in li:
    if i % 2 == '0':

# use of lambda with filter

In [2]:
def filterlist(li):
    a=[]
    for i in li:
        if i%2 == 0:
            a.append(i)
    return a
li = [1,2,3,4,5,6,7,8]
filterlist(li)

[2, 4, 6, 8]

In [3]:
li = [1,2,3,4,5,6,7,8]
lam_li = list(filter(lambda x :(x%2==0),li))
print(lam_li)

[2, 4, 6, 8]

# Lambda with map()
  - map() function in python takes in afunction and list as argument

In [5]:
def squarelist(li):
    a=[]
    for i in li:
        a.append(i**2)
    return a
li = [1,2,3,4,5,6,7,8]
squarelist(li)

[1, 4, 9, 16, 25, 36, 49, 64]

In [7]:
# lambda with map
li = [1,2,3,4,5,6,7,8]
map_list = list(map(lambda x : x*2,li))
print(map_list)

[2, 4, 6, 8, 10, 12, 14, 16]

## lambda with reduce()

In [10]:
def sumlist(li):
    s=0
    for i in li:
        s += i
    return s
li = [1,2,3,4,5,6,7,8]
sumlist(li)

36

In [9]:
from functools import reduce
li = [1,2,3,4,5,6,7,8]
s = reduce((lambda x,y:x+y),li)
print(s)

36

# Standard Packages

## Pandas,Numpy,Mat

# Pandas
  - Usecases
     - Data cleaning
     - Data transformaton
     - Data Analysis
  - Notations
    - Series
    - Data Frames

In [3]:
import pandas as pd
internal1={'s1':35,'s2':35,'s3':35}
internal2={'s1':45,'s2':45,'s3':45}
internal1= pd.Series(internal1)
internal2= pd.Series(internal2)
print(internal1)
print(internal2)

s1    35
s2    35
s3    35
dtype: int64
s1    45
s2    45
s3    45
dtype: int64

In [4]:
final = {'internal1':internal1,'internal2':internal2}
final = pd.DataFrame(final)
print(final)

    internal1  internal2
s1         35         45
s2         35         45
s3         35         45

In [6]:
final.columns

Index(['internal1', 'internal2'], dtype='object')

In [7]:
final.values

array([[35, 45],
       [35, 45],
       [35, 45]], dtype=int64)

In [8]:
final.values[1]

array([35, 45], dtype=int64)

In [9]:
final.values[2][0]

35

In [12]:
final.values[2][0]=33

In [13]:
final.values

array([[35, 45],
       [35, 45],
       [33, 45]], dtype=int64)

In [19]:
for row in final.values:
    print('internal-',row[0],'internal -',row[1])

internal- 35 internal - 45
internal- 35 internal - 45
internal- 33 internal - 45

In [20]:
final.loc['s4']= [30,17]
final

    internal1  internal2
s1         35         45
s2         35         45
s3         33         45
s4         30         17

In [21]:
final.values[2]=[122,33]
final

    internal1  internal2
s1         35         45
s2         35         45
s3        122         33
s4         30         17

In [22]:
pwd

'C:\\Users\\sunil\\Desktop\\Problem Solving an programing'

In [26]:
filepath = 'dataset/Income.csv'
def readCsvData(filepath):
    return pd.read_csv(filepath)
df=readCsvData(filepath)
print(df)

       GEOID       State   2005   2006   2007   2008   2009   2010   2011  \
0  04000US01     Alabama  37150  37952  42212  44476  39980  40933  42590
1  04000US02      Alaska  55891  56418  62993  63989  61604  57848  57431
2  04000US04     Arizona  45245  46657  62993  46914  45739  46896  48621
3  04000US05    Arkansas  36658  37057  40795  39586  36538  38587  41302
4  04000US06  California  51755  55319  55734  57014  56134  54283  53367

    2012   2013
0  43464  41381
1  63648  61137
2  47044  50602
3  39018  39919
4  57020  57528

In [27]:
#Extract income of all states in year 2013
# Alabama:41381
for row in df.values:
    print(row[1],':',row[-1])

Alabama : 41381
Alaska : 61137
Arizona : 50602
Arkansas : 39919
California : 57528

In [28]:
print(df.values)

[['04000US01' 'Alabama' 37150 37952 42212 44476 39980 40933 42590 43464
  41381]
 ['04000US02' 'Alaska' 55891 56418 62993 63989 61604 57848 57431 63648
  61137]
 ['04000US04' 'Arizona' 45245 46657 62993 46914 45739 46896 48621 47044
  50602]
 ['04000US05' 'Arkansas' 36658 37057 40795 39586 36538 38587 41302 39018
  39919]
 ['04000US06' 'California' 51755 55319 55734 57014 56134 54283 53367
  57020 57528]]

In [32]:
def avgofstate():
    s=0
    for i in range(2,11):
        s +=df.values[4][i]
    return s // len(df.values[2][2:])
avgofstate()

55350

In [33]:
# function which only displays the column names in the list
# GEOID State 2005 2006 2007 2008 2009 2010 2011 2012   2013

def printdataframecolumns(df):
    li=[]
    columns = df.columns
    for i in columns:
        li.append(i)
    return(li)
printdataframecolumns(df)

['GEOID',
 'State',
 '2005',
 '2006',
 '2007',
 '2008',
 '2009',
 '2010',
 '2011',
 '2012',
 '2013']